<div id="breadcrumb">
  <ol class="breadcrumb">
    <li><a href="//www.oqvestir.com.br/index.aspx" target="_parent">OQVESTIR</a></li>

   <li ng-if="isNovidade">
      <a href="/novidades">
         Lançamentos
      </a>
   </li>

   <!-- <li ng-if="isNovidade">
      <a href="/novidades/{{currentBrand | formatFacets}}" class="section" ng-class="{'bold' : !currentBreadCrumb}">{{currentBrand | formatSlugFacets}}</a>
   </li>-->

   <li ng-if="!isNovidade && currentBrand">
      <a href="/{{currentBrand | formatFacets}}" class="section" ng-class="{'bold' : !currentBreadCrumb}">{{currentBrand | formatSlugFacets}}</a>
   </li>

   <li ng-repeat="bread in currentBreadCrumb">
      <a href dynamic-href dynamic-style="breadcrumb" dynamic-type="cat" dynamic-novidade="isNovidade" dynamic-value="{{bread.slug}}" dynamic-level="{{bread.depth | num}}">{{bread.value}}</a>
   </li>

   <li ng-if="isProduct">
      <a href>{{productBread.name}}</a>
   </li>


  </ol>
</div>
