<div class="row footer">

  <div class="col-xs-12 col-md-12">
   <footer>
      <div class="row social">
          <div class="col-xs-12 col-md-12">
          <p>REDE SOCIAL:</p>
          <ul>
            <li><a href="//www.facebook.com/oqvestir" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="//www.pinterest.com/oqvestir" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="//www.youtube.com/OQVestir" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="//instagram.com/oqvestir" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="//twitter.com/oqvestir" target="_blank"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row payments">
          <div class="col-xs-12 col-md-12">
          <p>FORMAS DE PAGAMENTO:</p>
          <ul>
            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-diners-club"></i></a></li>
            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row divider ebit">
        <div class="col-md-12">
          <ul>
            <li><a href="#"><img src="//www.oqvestir.com.br/locales/global/img/ico-ra.png"></a></li>
            <li><a href="#"><img src="//www.oqvestir.com.br/locales/global/img/seal-certisign.jpg"></a></li>
            <li><a href="#"><img src="//www.oqvestir.com.br/locales/global/img/seal-norton.jpg"></a></li>
          </ul>
          <p>Avaliação de Lojas e-bit</p>
          <p>&copy; 2011 - 2015, OQVestir. Todos os direitos reservados. MODANET COMÉRCIO ELETRÔNICO S/A.
          Rod. Fernão Dias, KM 947,5, Extrema - Minas Gerais CEP 37.640-000 - CNPJ 10.495.757/0003-19</p>
        </div>
      </div>
   </footer>
  </div>

</div>
