<nav class="navbar navbar-default navbar-static-top custom-navbar" role="navigation">
  <div class="col-md-12">
    <div class="row">
      <!-- <div class=""> -->
        <div class="col-xs-2 increase-size">
          <button type="button" class="navbar-toggle collapsed" toggle-menu>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="text-bar">MENU</span>
          </button>
        </div>

        <div class="col-xs-8 hidden-on-toggle">
          <a class="navbar-brand" rel="home" href="#" title="Help">
            <img src="http://d1tswt3tbnas76.cloudfront.net/images/logo_ti.png">
          </a>
        </div>

        <div class="col-xs-2 hidden-on-toggle">
          <i class="icon-sprites icon-cart"><span>1</span></i>
        </div>
        <!--/.nav-collapse -->
      <!-- </div> -->
    </div>
  </div>
  <!--/.container -->
</nav>
