<ul class="nav navbar-nav sidebar-nav">
  <li>
    <a href="#"></a>
  </li>
  <li>
    <a href="/novidades?new" toggle-menu>NOVIDADES</a>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">MARCAS <b class="caret"></b></a>
    <ul class="dropdown-menu" toggle-menu>
      <li><a href="/7-for-all-mankind?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', '7 FOR ALL MANKIND']);">7 FOR ALL MANKIND</a></li>
      <li><a href="/animale?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'ANIMALE']);">ANIMALE</a></li>
      <li><a href="/ateen?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'ATEEN']);">ATEEN</a></li>
      <li><a href="/bobo?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'BO.BÔ']);">BO.BÔ</a></li>
      <li><a href="/bobstore?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'BOBSTORE']);">BOBSTORE</a></li>
      <li><a href="/costume?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'COSTUME']);">COSTUME</a></li>
      <li><a href="/cris-barros?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'CRIS BARROS']);">CRIS BARROS</a></li>
      <li><a href="/daslu?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'DASLU']);">DASLU</a></li>
      <li><a href="/farm?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'FARM']);">FARM</a></li>
      <li><a href="/iorane?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'IORANE']);">IORANE</a></li>
      <li><a href="/isolda?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'ISOLDA']);">ISOLDA</a></li>
      <li><a class="item" href="/le-lis-blanc?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'LE LIS BLANC']);">LE LIS BLANC</a></li>
      <li><a href="/leeloo?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'LEELOO']);">LEELOO</a></li>
      <li><a href="/letage?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'LETAGE']);">LETAGE</a></li>
      <li><a href="/loft-747?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'LOFT 747']);">LOFT 747</a></li>
      <li><a href="/luiza-barcelos?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'LUIZA BARCELOS']);">LUIZA BARCELOS</a></li>
      <li><a href="/maria-filo?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MARIA FILÓ']);">MARIA FILÓ</a></li>
      <li><a href="/market-33?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MARKET 33']);">MARKET 33</a></li>
      <li><a href="/mixed?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MIXED']);">MIXED</a></li>
      <li><a href="/mob?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MOB']);">MOB</a></li>
      <li><a href="/rosa-cha?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'ROSA CHÁ']);">ROSA CHÁ</a></li>
      <li><a href="/sacada?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SACADA']);">SACADA</a></li>
      <li><a href="/schutz?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SCHUTZ']);">SCHUTZ</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ROUPAS <b class="caret"></b></a>
    <ul class="dropdown-menu" toggle-menu>
      <li><a href="/roupas/blusas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'BLUSAS']);">BLUSAS</a></li>
      <li><a href="/roupas/calcas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'CALÇA']);">CALÇA</a></li>
      <li><a href="/roupas/casacos?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'CASACOS']);">CASACOS</a></li>
      <li><a href="/roupas/fitness?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'FITNESS']);">FITNESS</a></li>
      <li><a href="/roupas/macacao?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MACACÃO']);">MACACÃO</a></li>
      <li><a href="/roupas/pijamas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'PIJAMAS']);">PIJAMAS</a></li>
      <li><a href="/roupas/saias?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SAIAS']);">SAIAS</a></li>
      <li><a href="/roupas/shorts?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SHORTS']);">SHORTS</a></li>
      <li><a href="/roupas/vestidos?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'VESTIDO']);">VESTIDO</a></li>
      <li><a href="/roupas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'Ver Mais...']);">Ver Mais...</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">SAPATOS <b class="caret"></b></a>
    <ul class="dropdown-menu" toggle-menu>
      <li><a href="/sapatos/alpargatas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'ALPARGATAS']);">ALPARGATAS</a></li>
      <li><a href="/sapatos/anabela?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'ANABELA']);">ANABELA</a></li>
      <li><a href="/sapatos/mocassim?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MOCASSIM']);">MOCASSIM</a></li>
      <li><a href="/sapatos/peep-toe?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'PEEP TOE']);">PEEP TOE</a></li>
      <li><a href="/sapatos/rasteirinha?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'RASTEIRINHA']);">RASTEIRINHA</a></li>
      <li><a href="/sapatos/sandalia?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SANDÁLIA']);">SANDÁLIA</a></li>
      <li><a href="/sapatos/sapatilha?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SAPATILHA']);">SAPATILHA</a></li>
      <li><a href="/sapatos/scarpin?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SCARPIN']);">SCARPIN</a></li>
      <li><a href="/sapatos/tenis?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'TÊNIS']);">TÊNIS</a></li>
      <li><a href="/sapatos?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'Ver Mais...']);">Ver Mais...</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">BOLSAS <b class="caret"></b></a>
    <ul class="dropdown-menu" toggle-menu>
      <li><a href="/acessorios/bolsas-a-tiracolo?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'TIRACOLO']);">TIRACOLO</a></li>
      <li><a href="/acessorios/bolsas-carteiras-and-clutches?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'CARTEIRAS & CLUTCH</li>ES']);">CARTEIRAS & CLUTCHES</a></li>
      <li><a href="/acessorios/bolsas-maxibolsas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MAXIBOLSAS']);">MAXIBOLSAS</a></li>
      <li><a href="/acessorios/bolsas-mochilas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MOCHILAS']);">MOCHILAS</a></li>
      <li><a href="/acessorios/bolsas-tendencia-franjas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'TENDÊNCIA: FRANJAS']);">TENDÊNCIA: FRANJAS</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">ACESSÓRIOS <b class="caret"></b></a>
    <ul class="dropdown-menu" toggle-menu>
      <li><a href="/acessorios/bijoux-anel?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'ANEL']);">ANEL</a></li>
      <li><a href="/acessorios/bijoux-bracelete?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'BRACELETE']);">BRACELETE</a></li>
      <li><a href="/acessorios/bijoux-brinco?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'BRINCO']);">BRINCO</a></li>
      <li><a href="/acessorios/bijoux-colar?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'COLAR']);">COLAR</a></li>
      <li><a href="/acessorios/bijoux-pulseira?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'PULSEIRA']);">PULSEIRA</a></li>
      <li><a href="/acessorios/bolsas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'BOLSAS']);">BOLSAS</a></li>
      <li><a href="/acessorios/chapeus?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'CHAPÉUS']);">CHAPÉUS</a></li>
      <li><a href="/acessorios/cintos?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'CINTOS']);">CINTOS</a></li>
      <li><a href="/acessorios/lencos?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'LENÇOS']);">LENÇOS</a></li>
      <li><a href="/acessorios/oculos?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'ÓCULOS']);">ÓCULOS</a></li>
      <li><a href="/acessorios/relogios?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'RELÓGIOS']);">RELÓGIOS</a></li>
      <li><a href="/acessorios?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'Ver Mais...']);">Ver Mais...</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">LINGERIE <b class="caret"></b></a>
    <ul class="dropdown-menu" toggle-menu>
      <li><a href="/roupas/lingerie-calcinha?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'CALCINHAS']);">CALCINHAS</a></li>
      <li><a href="/roupas/lingerie-sutia?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SUTIÃS']);">SUTIÃS</a></li>
      <li><a href="/roupas/lingerie-top?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'TOPS']);">TOPS</a></li>
      <li><a href="/forum-lingerie/roupas/lingerie?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'FORUM LINGERIE']);">FORUM LINGERIE</a></li>
      <li><a href="/hype-it/roupas/lingerie?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'HYPE IT']);">HYPE IT</a></li>
      <li><a href="/joge/roupas/lingerie?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'JOGÊ']);">JOGÊ</a></li>
      <li><a href="/la-rouge-belle/roupas/lingerie?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'LA ROUGE BELLE']);">LA ROUGE BELLE</a></li>
      <li><a href="/miz-couture/roupas/lingerie?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MIZ COUTURE']);">MIZ COUTURE</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">PRAIA <b class="caret"></b></a>
    <ul class="dropdown-menu" toggle-menu>
      <li><a href="/moda-praia/acessorios-praia?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'ACESSÓRIOS']);">ACESSÓRIOS</a></li>
      <li><a href="/moda-praia/biquinis?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'BIQUÍNIS']);">BIQUÍNIS</a></li>
      <li><a href="/moda-praia/maios?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'MAIÔS']);">MAIÔS</a></li>
      <li><a href="/moda-praia/saidas?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SAÍDAS']);">SAÍDAS</a></li>
      <li><a href="/moda-praia/shorts?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'SHORTS']);">SHORTS</a></li>
      <li><a href="/moda-praia/tops?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'TOPS']);">TOPS</a></li>
      <li><a href="/moda-praia?new" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'Ver Mais...']);">Ver Mais...</a></li>
    </ul>
  </li>
  <li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">LOOKS <b class="caret"></b></a>
    <ul class="dropdown-menu" toggle-menu>
      <li><a href="//www.oqvestir.com.br/looks/look-do-dia-687.aspx/u" target="_parent" onclick="javascript:_gaq.push(['_trackEvent', 'MenuInferior', 'LOOKS DO DIA']);">LOOKS DO DIA</a></li>
    </ul>
  </li>
  <li>
    <a href="//blog.oqvestir.com.br/" target="_blank" onclick="javascript:_gaq.push(['_trackEvent', 'MenuSuperior', 'BLOG']);">BLOG</a>
  </li>
  <li>
    <a href="/outlet?new" class="outlet-link" onclick="javascript:_gaq.push(['_trackEvent', 'MenuSuperior', 'OUTLET']);" toggle-menu>OUTLET</a>
  </li>
</ul>
