<div class="container-fluid">
   <div class="row">
        <div class="col-lg-12 col-xs-12">

          <filters></filters>

          <hr class="divider"></hr>

          <pagination-oqv ng-hide="showLoading"></pagination-oqv>

          <!-- LISTAGEM DE PRODUTOS -->
          <div class="row">
            <div class="row loader">
              <div class="spinner-loader" ng-show="showLoading">
              </div>
            </div>
            <!-- PRODUTOS 2x -->
            <div class="row" ng-hide="showLoading" infinite-scroll="loadMoreProducts()" infinite-scroll-distance="3" infinite-scroll-disabled="products.length == buffer_products.length">
              <div ng-repeat="item in products">
                <div class="col-xs-6 col-md-6">
                  <product item="item"></product>
                </div>
                <div ng-if="$index%2 == 1 || $index == 1" class="clearfix visible-xs-block"></div>
              </div>
            </div>
        </div>

        <pagination-oqv ng-hide="showLoading"></pagination-oqv>

   </div>
</div>
